.crop {
    float:left;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.crop img {
    width: 600px;
    /* height: 300px; */
    /* margin: -75px 0 0 -100px; */
}

.newLine{
    clear: both;
}

.visit{
    display:flow-root;
}

.debug{
    color:gainsboro;
}